* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
p {
  font-weight: 400;
  margin: 0.75rem;
  line-height: 1.4;
  &.quote {
    font-size:2rem;
    &:before {
      content: "\201C";
    }
    &:after {
      content: "\201D";
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0.75rem;
  &.border {
    padding: 0.75rem;
    border-left: 1px solid #cd3131;
    margin: 0;
  }
}
//rgb(234, 234, 234);
//#cd3131
